
.navbar {
  background: #ebebeb;
  width: min-content;
  border-radius: 20px;
  margin: 50px 0;
  padding: 5% 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-size: 2em;
}

h1 {
  font-size: 1em;
}

.navul {
  list-style: none;
  display: flex;
  gap: 22px;
  font-size: 1.1rem;
}

.navul .links {
  font-weight: 700;
  border-right: 2px solid #000;
  padding-right: 20px;
  color: #808;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navul .links:visited {
  color: #f5913e;
}

.navul .links:last-child {
  border-right: none;
}

.navul .links:hover {
  color: #808;
}

#App,
#quotes {
  background: #ebebeb;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  border-radius: 20px;
  padding: 10%;
  margin: 0 auto;
}

#home {
  background: #ebebeb;
  width: 80vw;
  padding: 10%;
  border-radius: 20px;
  margin: 0 auto;
}

#home h2 {
  margin-bottom: 2em;
}

#home p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 400px) {
  .navbar {
    width: 80vw;
  }

  .navul {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }

  .navul .links {
    padding-right: 12px;
  }

  h1 {
    font-size: 1.3em;
  }

  #App,
  #quotes,
  #home {
    padding: 100px;
  }
}
