#Calculator {
  width: 50%;
}

#result {
  background: #777;
  color: #fff;
  text-align: end;
  padding: 20px;
}

.pad {
  display: grid;
  grid-template-areas:
    'uility uility uility rightSide'
    'Numpad Numpad Numpad rightSide'
    'Numpad Numpad Numpad rightSide'
    'Numpad Numpad Numpad rightSide';
}

.utility {
  background: #e0e0e0;
  grid-area: uility;
  display: grid;
  grid-template-columns: repeat(3, minmax(25px, 1fr));
  grid-auto-rows: 50px;
}

.rightSide {
  background: #f5913e;
  grid-area: rightSide;
  display: grid;
  grid-template-columns: minmax(25px, 1fr);
  grid-auto-rows: 50px;
}

.numpad {
  background: #e0e0e0;
  grid-area: Numpad;
  display: grid;
  grid-template-columns: repeat(3, minmax(25px, 1fr));
  grid-auto-rows: 50px;
}

.numpad-0 {
  grid-column: 1/3;
}

.numpad *,
.rightSide *,
.utility * {
  border: 1px solid #efefef;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numpad *:hover,
.utility *:hover {
  background:  #777;
  color: #fff;
}

.rightSide *:hover {
  background:  #808;
  color: #fff;
}

button {
  background: transparent;
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
}
